/* FOR LARGE SIZES */
@media(max-width:992px) {}

/* FOR MIDDLE SIZES */
@media(max-width:768px) {
    main .main_new .main_fame {
        font-size: 30px;
    }

    section .section_title {
        font-size: 35px;
    }

    section .section_text {
        font-size: 13px;
    }
}

/* FOR SMALL SIZES */
@media(max-width:576px) {
    /* HEADER START */

    header form {
        width: 350px;
        height: 400px;
        transform: translateY(-60px);
    }

    header .enter {
        width: 190px;
        height: 40px;
        font-size: 14px;
    }

    header .header_intro {
        font-size: 30px;

    }

    header .header_title {
        font-size: 34px;
    }


    /* HEADER END */

    /* MAIN START */
    main .main_new .main_fame {
        font-size: 34px;
    }

    main .main_tour {
        font-size: 30px;
    }

    main .main_new .main_fame {
        font-size: 20px;
    }

    main .flag_name2 a {
        font-size: 20px;
    }

    main .flag_name4 a {
        font-size: 20px;
    }

    main .last_title {
        font-size: 40px;
    }

    main .last_text {
        font-size: 13px;
    }

    /* MAIN END */

    /* SECTION START */

    section .section_title {
        font-size: 25px;
    }

    section .section_text {
        font-size: 12px;
    }

    section .bottom_title {
        font-size: 35px;
    }
}

@media(max-width:320px) {
    main .wrap_title {
        padding: 0%;

    }

}